version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:lts
  base:
    docker:
      - image: cimg/base:2020.01

commands:
  init:
    steps:
      - checkout:
          path: ~/project
      - run: yarn --frozen-lockfile

jobs:
  shared:
    executor: node
    working_directory: ~/project/packages/shared
    steps:
      - init
      - run: yarn build
      - save_cache:
          key: shared-cache
          paths:
            - ~/project/packages/shared/dist
  client:
    executor: node
    working_directory: ~/project/packages/client
    steps:
      - init
      - restore_cache:
          keys:
            - shared-cache
      - run: yarn ci:build
  server:
    executor: node
    working_directory: ~/project/packages/server
    steps:
      - init
      - restore_cache:
          keys:
            - shared-cache
      - run: yarn ci:build
  # deploy:
  #   executor: base
  #   steps:
  #     - run: ssh -o StrictHostKeyChecking=no ec2-user@ec2-18-220-45-225.us-east-2.compute.amazonaws.com "~/acs/scripts/deploy.sh"

workflows:
  build:
    jobs:
      - shared
      - client:
          requires:
            - shared
      - server:
          requires:
            - shared
      # - deploy:
      #     filters:
      #       branches:
      #         only:
      #           - master
      #     requires:
      #       - client
      #       - server
